<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <order_note>
            <general>
                <show_in_my_account>1</show_in_my_account>
				<state>1</state>
            </general>
        </order_note>
    </default>
</config>
