<?xml version="1.0" encoding="UTF-8" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Block\Adminhtml\Order\View\Info">
        <plugin name="show_order_note"
                type="DeveloperHub\OrderNote\Plugin\Block\Adminhtml\SalesOrderViewInfo"
                sortOrder="10000"
        />
    </type>
</config>
